*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
}
:root {
  font-family: "Roboto", sans-serif;
}
body {
  margin: 0 auto;
}

header {
  display: grid;
  grid-template: 1fr 1fr / 1fr;
  min-height: 200px;
  gap: 10px;
  box-shadow: 2px 2px 30px 10px lightgrey;
}
.logo-group {
  grid-area: 1/1/3/2;
  display: grid;
  grid-template: 1fr / 1fr;
  align-self: center;
  padding-top: 5px;
}
.logo {
  max-width: 240px;
  grid-area: 1/1/3/2;
}
.header-title {
  grid-area: 1/2/2/3;
  align-self: flex-end;
}
.subtitle {
  grid-area: 2/2/3/3;
  color: red;
}

.contact-group {
  display: grid;
  grid-template: 1fr 1fr/ 1fr 0.4fr 1fr;
  max-width: 80%;
  justify-self: center;
}

.book-appointment-btn {
  display: flex;
  grid-area: 1/1/3/2;
  background-color: red;
  color: white;
  font-weight: bold;
  max-width: fit-content;
  padding: 10px;
  text-align: left;
  border: none;
  justify-self: center;
  align-self: center;
  align-items: center;
  gap: 5px;
  margin-right: 10px;
}
.book-appointment-btn > div > img {
  max-width: 30px;
  filter: invert();
}
.business-info {
  max-width: fit-content;
  justify-self: left;
}
.hours {
  grid-area: 1/2/2/3;
  align-self: flex-end;
  font-size: 1.1rem;
  text-decoration: underline 1px dotted;
  padding-left: 10px;
  padding-right: 10px;
}
.directions {
  grid-area: 1/3/2/4;
  align-self: flex-end;
  font-size: 1.1rem;
  text-decoration: underline 1px dotted;
  border-left: 2px solid red;
  padding-left: 10px;
}
.phone-number {
  grid-area: 2/2/3/4;
  justify-self: left;
  font-size: 1.5rem;
  color: red;
  padding-left: 5px;
  font-weight: 300;
}
.nav-links {
  display: grid;
  grid-template: 1fr /1fr 1fr 1fr;
  font-size: 1.6rem;
  max-width: 90%;
  justify-self: center;
  /* align-items: center; */
  text-align: center;
  gap: 20px;
}
nav > a {
  text-decoration: none;
  color: red;
  align-self: center;
  font-weight: 900;
}
nav > a:hover {
  text-decoration: underline dashed 2px red;
}

main {
  display: grid;
  min-height: calc(100vh - 50px);
  grid-template: 1fr / repeat(3, 1fr);
}
.banner {
  background-color: black;
  height: 300px;
  grid-column: span 3;
}
.content {
  display: grid;
  gap: 20px;
  grid-column: span 3;
  padding: 0 5px 0 5px;
}
.about {
  grid-area: 1/1/2/4;
}
.about > h2 {
  color: red;
}
.reviews {
  grid-area: 2/1/3/4;
}
.reviews > h2 {
  color: red;
}
.services {
  grid-area: 3/1/4/4;
  padding-bottom: 20px;
}
.services > h2 {
  color: red;
}
.services > ul {
  display: grid;
  padding: 0;
  grid-template: repeat(5, 1fr) / 1fr 1fr;
  max-width: fit-content;
  gap: 5px;
}
.services > ul > li {
  color: red;
  list-style: none;
  font-weight: 500;
}
.services_btn{
  background-color: transparent;
  max-width: fit-content;
  border: transparent;
}
.services_btn > img {
  max-height: 20px;
  cursor: pointer;
}

/* .services_btn {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
} */

.active, .services_btn:hover {
  /* background-color: #555; */
}

.services-content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}


.slider {
  display: grid;
  grid-template: 1fr 0.1fr/1fr 1fr 1fr;
}
.slider_slide {
  width: 100%;
  max-width: 400px;
  display: none;
}
.slider_slide:first-child {
  display: block;
}
.slider_slides-cont {
  grid-area: 1/1/2/4;
}
.slider_slide > img {
  width: 100%;
}
.slider_nav {
  max-width: min-content;
  border: none;
  background-color: transparent;
}
.slider_nav.prev > img {
  max-width: 20px;
}
.slider_nav.next > img {
  max-width: 20px;
}
.slider_nav.prev {
  grid-area: 2/1/3/2;
  justify-self: flex-end;
}
.slider_nav.next {
  grid-area: 2/3/3/4;
  justify-self: flex-start;
}
.slider_pagination {
  grid-area: 2/2/3/3;
  justify-self: center;
}
.slider_pagination_btn {
  display: inline-block;
  padding: 6px;
  margin: 5px;
  background-color: #ccc;
  border-radius: 10px;
  cursor: pointer;

  /* override default button styles */
  border: none;
  outline: none;
}
.slider_pagination_btn:hover {
  background-color: #aaa;
}
.slider_pagination_btn:focus {
  background-color: #777;
}
.slider_pagination_btn {
  display: inline-block;
  padding: 6px;
  cursor: pointer;

  /* Override default button styles */
  border: none;
  outline: none;
  background-color: transparent;
}

/* Actual pagination circle */
.slider_pagination_btn:before {
  content: "";
  display: inline-block;
  padding: 6px;
  border-radius: 100%;
  background-color: #ccc;
}

.slider_pagination_btn:hover:before {
  background-color: #aaa;
}

.slider_pagination_btn:focus:before {
  background-color: #777;
}
.slider_pagination_btn.slider_pagination_btn--sel:before {
  background-color: black;
}

footer {
  display: grid;
  position: sticky;
  background-color: red;
  grid-template: 1fr/3fr 1fr;
  padding: 5px;
  height: 50px;
}
footer > p {
  color: white;
  align-self: center;
}
footer > a {
  color: white;
  text-decoration: none;
  justify-self: flex-end;
  align-self: center;
}
footer > a:hover {
  color: white;
  text-decoration: underline 1px dashed white;
  justify-self: flex-end;
  align-self: center;
}



@media screen {
}
